.container{
    width: 500px;
    height: auto;
    background-color: beige;
    margin: 50px 35%;
    border: 1px solid blueviolet;
    border-radius: 10px;
    text-align: center;
    color: blueviolet;
}
#username{
    width: 300px;
    height: 30px;
    margin-top: 20px;
}
#password{
    width: 300px;
    height: 30px;
    margin-top: 20px;
}
button{
    width: auto;
    height: 30px;
    margin-top: 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
}